:root {
  font-size: 16px;
  font-family: sans-serif;
  color: white;
  background-color: #27313A;
}

/* Cabeçalho */

header {
  background-position: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
  }
  
  @media screen and (width >= 800px) {
  header, footer  {
    margin-left: 8rem;
    }
    .lasanhainfo {
      font-size: 1.2rem !important;
      margin-right: 15px;
    }
    .aboutlasanha {
      font-size: 2vw !important;
    }
  }

  header::before {
  background-image: url(img/banner.png);
  background-position: center;
  background-size: cover;
  position: absolute;
  filter: blur(2px);
  height: 100%;
  width: 100%;
  z-index: -1;
  content: "";
  left: 0;
  top: 0;
  }
  
  .banner {
    width: 100%;
    height: auto; 
  }
  
  @media screen and (min-width: 767px){
    .banner {
      margin: 0 auto;
      display: flex;
      width: 767px;
      height: auto;
    }
  }

  /* Título */

  h1 {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
    left: 50%;
    top: 45%;
    margin: 0;
    font-size: 4vw;
  }
  
  @media screen and (max-width: 700px) {
    h1 {
        font-size: 7vw;
        top: 50%;
        left: 50%;
        margin: 0;
    }
  }

  /* Corpo */

body {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(41, 41, 41);
}

body::-webkit-scrollbar-track {
  background-color: rgb(167, 102, 29);
}

main {
  margin-left: 10rem;
}

  /* Barra de Navegação */

.navbar {
  position:fixed;
  background-color: #1B2838;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.nav-li {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  margin: auto;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 800px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }
  .nav-li {
    flex-direction: row;
  }
  .list {
    display: flex;
    height: 100%;
    justify-content: center;
  }
  main {
    margin: 0;
  }
  footer {
    margin-bottom: 5rem;
  }
}

@media only screen and (min-width: 800px) {
  .navbar {
    width: 8rem;
    top: 0;
    bottom: 0;
    height: 100%;
  }
}

.lasanhainfo {
  display: flex;
  font-size: 3vw;
  margin-bottom: 5rem;
}
  

.lasanhaimg {
  width: 40vw;
  height: auto;
}

.aboutlasanha {
  display: flex;
  align-items: flex-start; 
  font-size: 3vw;
}

.content {
  flex: 1; 

}

.lasanhaimg {
  margin-left: 10px; 
}

