.banner {
    position: relative;
    height: 300px;
    overflow: hidden;
}

.banner-background {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/imagebanner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
 
.banner-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 2px #000;
}

@media screen and (max-width: 767px) {
    .banner {
        height: 200px
    }
}

.banner-title {
    font-size: 1.5rem;
}

html {
    background-color: rgb(53, 54, 105);
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(73, 74, 125, 0.2);
    width: 75vw;
    margin: auto;
    box-shadow: 10px 10px 100px 10px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

main p {
    width: 75%;
}

main img {
    width: 20%;
    height: auto;
}

body {
    margin: 0;
}